@model List<matallurgical_plant.Models.User>

@{
    ViewData["Title"] = "User Page";
}
<style>
    body {
        background-image: url(https://github.com/ultoRjs/psp/blob/lab2/lab2/back3.jpg?raw=true);
    }

    form {
        text-align: center;
    }
    .AddProduct {
        font-weight:bold;
        font-size:20px;
    }
</style>

<form asp-controller="User" asp-action="Index">
    <p>
        Фамилия: <input type="text" name="SearchString" />
        <input type="submit" value="Поиск" />
    </p>
</form>

<span class="AddProduct">@Html.ActionLink("Добавить клиента", "Add")</span>

<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Отчество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ThirdName)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id, item }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

