@model List<matallurgical_plant.Models.Product>

@{
    ViewData["Title"] = "Product Page";
}

<div class="text-center">
    <h1 class="display-4">FUCKINGCOURSE</h1>


    @Html.ActionLink("Add product ", "AddProduct")
    <table>
        <tr>
            <th>Название</th>
            <th>Цена</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.NameProduct)
                </td>

                <td>
                    @Html.DisplayFor(model => item.Price)
                </td>

                <td>
                    @Html.ActionLink("Edit ", "EditProduct", new { id = item.Id, item })
                    @Html.ActionLink("Details ", "DetailsProduct", new { id = item.Id })
                    @Html.ActionLink("Delete ", "DeleteProduct", new { id = item.Id })
                </td>

            </tr>
        }
    </table>
</div>
