@model List<matallurgical_plant.Models.Contract>

@{
    ViewData["Title"] = "Contract Page";
}

<style>
    body {
        background-image: url(https://github.com/ultoRjs/psp/blob/lab2/lab2/back3.jpg?raw=true);
    }
    .AddProduct {
        font-weight: bold;
        font-size: 20px;
    }
</style>

<span class="AddProduct">@Html.ActionLink("Добавить договор", "Add")</span>

<table class="table">
    <thead>
        <tr>
            <th>Id Спецификации</th>
            <th>Количество</th>
            <th>Итоговая цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.SpecificationId)
                </td>

                <td>
                    @Html.DisplayFor(model => item.Quantity)
                </td>

                <td>
                    @Html.DisplayFor(model => item.FinalPrice)
                </td>

                <td>
                    @Html.ActionLink("Изменить ", "Edit", new { id = item.Id, item }) |
                    @Html.ActionLink("Подробнее ", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Удалить ", "Delete", new { id = item.Id })
                </td>

            </tr>
        }
    </tbody>
</table>
