@model List<matallurgical_plant.Models.Specification>

@{
    ViewData["Title"] = "Specification Page";
}
<style>
    body {
        background-image: url(https://github.com/ultoRjs/psp/blob/lab2/lab2/back3.jpg?raw=true);
    }
    .AddProduct {
        font-weight: bold;
        font-size: 20px;
    }
</style>

<span class="AddProduct">@Html.ActionLink("Добавить спецификацию", "Add")</span>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id продукта</th>
            <th>Время доставки</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(model => item.ProductId)
                </td>

                <td>
                    @Html.DisplayFor(model => item.DeliveryTime)
                </td>

                <td>
                    @Html.ActionLink(" Изменить ", "Edit", new { id = item.Id, item }) |
                    @Html.ActionLink(" Подробнее ", "Details", new { id = item.Id }) |
                    @Html.ActionLink(" Удалить ", "Delete", new { id = item.Id })
                </td>

            </tr>
        }
    </tbody>
</table>

